.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item {
    background: rgb(99, 122, 208);
    background: linear-gradient(45deg, rgba(99, 122, 208, 1) 0%, rgba(52, 143, 199, 1) 50%, rgba(6, 161, 190, 1) 100%);
    margin: 15px;
    padding: 20px;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}